#container{
    height: 300px;
    width: 80%;
    background-color: rgb(193, 228, 228);
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
   flex-direction:column;
   justify-content:flex-start;
   flex-wrap: wrap;
  /* align-items: baseline;*/
}
#blue{
    flex-basis: 400px;
}
h1{
    text-align: center;
}
#container div{
    height: 100px;
    width: 100px;
    color: white;
    font-size: large;
    text-align: 1.5em;

}