div{
    height: 200px;
    width: 200px;
    background-color: greenyellow;
    margin: 0 auto;
    transition-duration: 1s;

}
div:hover{
    margin-top: 300px;
    border-radius: 50%;
    background-color: black;
}
