section{
    margin-top: 100px;
}
div{
    height: 50px;
    width: 200px;
    background-color: #7aa874;
    text-align: center;
    border: 2px solid black;
    margin-bottom:5px;
    margin: 0 auto;
}
div:nth-of-type(2n){
    background-color: #f7db6a;
}
div:nth-of-type(3n){
    background-color: #ebb02d;
}
#one{
    transform:rotate(45deg);
}
#two{
    transform: scale(0.5);
    /*
    transform: scale(0.5,2);
    transform: scale(2,0.5);
    transform: scaleX(3);
    transform: scaleY(2);
    */
}
#three{
   transform: translateX(100px);
   /*
      transform: translate(50px,50px);
   transform: translateY(10px);
   */
}
#four{
    transform: skew(45deg);
}
#five{
    transform: rotate(45deg) translate(150px);
}